<!DOCTYPE html>
<html>
<head>
<title>Yak</title>


  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script type="text/javascript">
    Yak.CONST.PUSHER_KEY = '<%=  ENV['PUSHER_KEY'] %>'
    Yak.CONST.CSRF_TOKEN  = '<%= form_authenticity_token %>';
  </script>
  
</head>
<body>

<%= yield %>

</body>
</html>
